@if (selectedCourse(); as data) {
@if(enrollmentAccessStatus() | async; as status){
<div class="course-page-wrapper bg-light min-vh-100">
  <header class="hero-section position-relative py-5 text-white"
    [style.background]="'linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.8)), url(' + data.course.imageUrl + ')'"
    style="background-size: cover; background-position: center;">
    <div class="container py-4">
      <div class="row g-5 align-items-center">
        <div class="col-lg-7">
          <span class="badge rounded-pill bg-success mb-3 px-3 py-2 text-uppercase fw-bold ls-1">
            {{ data?.course?.category }}
          </span>

          <h1 class="display-3 fw-bold mb-4">{{ data?.course?.title }}</h1>

          <div class="d-flex align-items-center gap-4 mb-4">
            <div class="d-flex align-items-center">
              <i class="bi bi-star-fill text-warning me-2"></i>
              <span class="fw-bold fs-5">{{ data?.course?.rating?.average?.$numberDecimal }}</span>
              <span class="ms-1 opacity-75">({{ data?.course?.rating?.totalUsers }} reviews)</span>
            </div>
            <div class="vr opacity-50"></div>
            <div>
              <i class="bi bi-people-fill me-2 text-info"></i>
              <span class="fw-bold">{{ data?.totalEnrollments }}</span> Students
            </div>
          </div>
          <div
            class="d-flex align-items-center p-3 rounded-4 bg-white bg-opacity-10 backdrop-blur border border-white border-opacity-25 shadow-sm w-fit">
            <div
              class="avatar-circle bg-success text-white me-3 d-flex align-items-center justify-content-center shadow"
              style="width: 50px; height: 50px;">
              <i class="bi bi-person-fill fs-4"></i>
            </div>
            <div>
              <p class="mb-0 small opacity-75">Expert Instructor</p>
              <h6 class="mb-0 fw-bold">{{ data?.course?.instructor?.name }}</h6>
            </div>
          </div>
        </div>
        @if(status!=='blocked'){
        <div class="col-lg-5 d-none d-lg-block">
          <div class="card border-0 rounded-4 shadow-lg overflow-hidden transition-hover">
            <img [src]="data.course.imageUrl" class="card-img-top" alt="Course Thumbnail"
              style="height: 250px; object-fit: cover;">
            <div class="card-body p-4 text-dark text-center">
              <h4 class="fw-bold mb-3">Begin Your Journey</h4>
              @if(data?.isEnrolled){
              <button class="btn btn-danger btn-lg w-100 py-3 rounded-pill fw-bold shadow" (click)="unrenroll()">
                UnEnroll <i class="bi bi-shield-fill-x text-warning"></i>
              </button>
              }@else{
              <button class="btn btn-success btn-lg w-100 py-3 rounded-pill fw-bold shadow" (click)="enroll()">
                Enroll Now
                <i class="bi bi-rocket-takeoff ms-2"></i>
              </button>
              }
            </div>
          </div>
        </div>
        }
      </div>
    </div>
  </header>

  <main class="container py-5">
    <div class="row g-5">
      <div class="col-lg-8">
        <section class="mb-5">
          <h3 class="fw-bold mb-4 border-start border-4 border-success ps-3">About this Course</h3>
          <p class="fs-5 text-secondary lh-lg">
            {{ data?.course?.description }}
          </p>
        </section>
        <section class="mb-5">
          <div class="d-flex justify-content-between align-items-end mb-4">
            <h3 class="fw-bold mb-0 border-start border-4 border-primary ps-3">Learning Path</h3>
            <span class="text-muted small fw-bold">
              {{ (data?.assignments?.length ?? 0) + (data?.quizzes?.length ?? 0) }} TOTAL MODULES
            </span>

          </div>
          <h5 class="text-uppercase small fw-bold text-muted mb-3 mt-4">Knowledge Checks</h5>
          <div class="vstack gap-3 mb-4">
            @for (quiz of data.quizzes; track quiz._id) {
            <div class="p-3 bg-white border rounded-3 d-flex align-items-center shadow-sm hover-shadow transition-all">
              <div class="icon-box bg-warning bg-opacity-10 text-warning rounded-3 p-2 me-3">
                <i class="bi bi-lightning-charge-fill fs-5"></i>
              </div>
              <div class="flex-grow-1">
                <h6 class="mb-0 fw-bold text-dark">{{ quiz.title }}</h6>
                <small class="text-muted">{{ quiz.totalQuestions }} Questions</small>
              </div>
              @if(data?.isEnrolled){
              <button class="border-0 bg-transparent" (click)="startQuiz(quiz._id)">
                <i class="bi bi-play-fill text-success fs-2 cursor-pointer"></i>
              </button>
              }@else{
              <i class="bi bi-lock-fill text-danger"></i>
              }

            </div>
            }
          </div>
          <div class="vstack gap-3">
            <h3 class="text-uppercase small fw-bold text-muted mb-3">Assignments</h3>
            @for (task of data.assignments; track task.title) {
            <div class="p-3 bg-white border rounded-3 d-flex align-items-center shadow-sm hover-shadow transition-all">
              <div class="icon-box bg-info bg-opacity-10 text-info rounded-3 p-2 me-3">
                <i class="bi bi-code-square fs-5"></i>
              </div>
              <div class="flex-grow-1">
                <h6 class="mb-0 fw-bold text-dark">{{ task.title }}</h6>
                <small class="text-muted">Due: {{ task.dueDate | date:'mediumDate' }} • {{ task.totalMarks }}
                  Marks</small>
              </div>
              @if(data?.isEnrolled){
                @if(marksArray() && marksArray()?.[task._id]){
                  <span class="badge bg-success-subtle fs-6 px-3 py-2">
                    {{ marksArray()?.[task._id] }} / {{ task.totalMarks }}
                  </span>
                }@else{
                  <button class="btn btn-success" (click)="goToSubmitAssignment(task)">Submit</button>
                }
              }
              @else{
                <i class="bi bi-lock-fill text-danger"></i>
              }
            </div>
            }
          </div>
        </section>
      </div>
      <div class="col-lg-4">
        <div class="sticky-top" style="top: 2rem; z-index: 10;">
          <div class="card border-0 shadow rounded-4 mb-4">
            <div class="card-body p-4">
              <h5 class="fw-bold mb-4">Course Features</h5>
              <div class="list-group list-group-flush">
                <div class="list-group-item bg-transparent px-0 py-3 d-flex justify-content-between">
                  <span class="text-muted"><i class="bi bi-award me-2"></i> Certificate</span>
                  <span class="fw-bold text-success">Yes</span>
                </div>
                <div class="list-group-item bg-transparent px-0 py-3 d-flex justify-content-between">
                  <span class="text-muted"><i class="bi bi-infinity me-2"></i> Access</span>
                  <span class="fw-bold">Lifetime</span>
                </div>
                <div class="list-group-item bg-transparent px-0 py-3 d-flex justify-content-between">
                  <span class="text-muted"><i class="bi bi-laptop me-2"></i> Device</span>
                  <span class="fw-bold">All Platform</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
}
}@else {
<div class="d-flex flex-column align-items-center justify-content-center min-vh-100">
  <div class="spinner-border text-success mb-3" style="width: 3rem; height: 3rem;" role="status"></div>
  <p class="text-muted fw-medium">Launching your mission...</p>
</div>
}